/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 32px;
}

ul {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;

}

.header_li {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;

}

button {
    border: none;
    background: none;
    color: var(--Anti-Flash-White, #F3F3F3);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.action {
    padding: 12px 24px;
    border-radius: 32px;
    background: var(--Black, #000);
}

.bar {
    display: none;
    width: 25px;
    height: 25px;
}

/* section1 */
.section {
    display: flex;
    justify-content: space-between;
    padding: 64px 125px;
    column-gap: 130px;
    align-items: center;
}



.section_h2 {
    color: #000;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 24px;
}

.section_p {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 40px;

}

/* section2 */
.section2 {
    display: flex;
    justify-content: space-between;
    padding: 36px 150px;
    column-gap: 133px;
    align-items: center;
    background-color: #000;
}

.section2_h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    margin-bottom: 16px;
}

.section2_p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;

}

.section2_img {
    height: 400px;
    border-radius: 12px;
}

/* section3 */
.section3 {
    display: flex;
    padding: 64px 150px;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

}

.logo {
    width: 40px;
    height: 40px;



}

.section3_h2 {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.section3_p {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-top: 16px;
}

.section3_div {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000;
    padding: 96px 150px;
    column-gap: 226px;

}

.footer_h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24.653px;
    font-style: normal;
    font-weight: 900;
    line-height: 26.414px;
    /* 107.143% */
    letter-spacing: -0.44px;
    text-transform: uppercase;
}

.container2 {
    display: flex;
    justify-content: flex-start;
    column-gap: 80px;
}

.article_h2 {
    margin-bottom: 16px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.1px;

}

.article_ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.article_li {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
 
}

.sub {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 24px;
}

.sub_p {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.4;
    width: 214px;
}